<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Layout">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".layout.FrameActivity"
            android:label="Frame"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.LinearActivity"
            android:label="Linear"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.RelativeActivity"
            android:label="Relative"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.TableActivity"
            android:label="Table"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.ConstraintActivity"
            android:label="Constraint"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.EditTextActivity"
            android:label="EditText"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.ImageViewActivity"
            android:label="ImageView"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.ListViewActivity"
            android:label="ListView"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.SpinnerActivity"
            android:label="Spinner"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.TextViewActivity"
            android:label="TextView"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.WebViewActivity"
            android:label="WebVIew"
            android:screenOrientation="portrait" />

    </application>
</manifest>